.left{
    background-color:#2d6b7d;
    display: table-cell;
    /*width:7%;*/
    width:111px;
    
    height:720px;
}
.left ul{
    list-style:none;
    /*position: relative;
    top:50px;*/
    padding:0px;
}
.left li{
    margin-bottom: 70px;
}
.left .linkIcon{
    text-align:center;
    display: block;
    /*color:#5e616d;*/
    
}

.left .linkIcon.active{
    text-align:center;
    color:#51df8e;
    
}

.left .linkIcon .title {
   
    text-align:center; 
}